{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": 2,
    "indent": ["error", 4, {"SwitchCase": 1}],
    "import/no-extraneous-dependencies": "off",
    "no-console": 0,
    "no-use-before-define": "off",
    "no-multi-assign": 0,
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/jsx-indent": ["error", 4],
  },
  "plugins": [
    "react"
  ],
}
